.jumbotron{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://static.pexels.com/photos/24324/pexels-photo.jpg); 
    position: relative;
    height: 100%;
    text-align: center;
    bottom: 0;
}   

.jumbotron .btn{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    padding:10px 40px;
}

li{
    margin-top: 2.1em;
}