<!-- new project form -->
<!--How to Deal with Different Form Controls in Angular 2 USE REACTIVE FORMS  https://scotch.io/tutorials/how-to-deal-with-different-form-controls-in-angular-2-->
<form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
    <div class="form-group">
        <!-- שם המיזם-->
        <div class="form-group ">
            <label for="projectName" class="cols-sm-2 control-label">שם המיזם</label>
            <div class="cols-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="project.projectName" name="projectName" placeholder="שם המיזם" #projectNameField="ngModel"
                        required>

                <p *ngIf="projectNameField.touched && projectNameField.invalid" class="alert alert-danger">הכנס בבקשה שם מיזם</p>
            </div>
        </div>

        <!-- מקור-->
        <source-select [(selected)]="project.source"></source-select>
        <!--סטטוס-->
        <status-select [(selected)]="project.status"></status-select>
        <!-- תחום\דומיין הפרוייקט-->
        <domain-multi-select [(selected)]="project.projectDomain"></domain-multi-select>

        <!-- תאריך פנייה-->
        <div class="form-group ">
            <label for="petitionDate" class="cols-sm-2 control-label">תאריך פנייה</label>
                <div class="input-group">
                    <input type="date" class="form-control" [(ngModel)]="project.petitionDate" name="petitionDate" required>
                </div>
        </div>
        <!-- מילא פיץ-->
        <label> <input type="checkbox" [(ngModel)]="project.filledPitch.filled" name="pitchFilled"  class="form-check-input">מילא Pitch </label>

        <div class="form-group ">               
            <div class="input-group">
                <input *ngIf="project.filledPitch.filled" type="file" (change)="pitchFileChange($event)" name="pitchfile" placeholder="Upload file"
                    accept=".pdf,.doc,.docx">
                <input *ngIf="!project.filledPitch.filled" type="date"  [(ngModel)]="project.filledPitch.filledReminder" name="pitchReminder">
           </div>        
        </div>
        <!--מילא שאלון-->
        <label><input type="checkbox" [(ngModel)]="project.filledQuestions.filled" name="questionsFilled" >מילא שאלון</label>

        <div class="form-group ">
            <div class="input-group">
            <input *ngIf="project.filledQuestions.filled" type="file" (change)="questionsFileChange($event)" name="questionsfile" placeholder="Upload file"
                accept=".pdf,.doc,.docx">
            <input *ngIf="!project.filledQuestions.filled" type="date" [(ngModel)]="project.filledQuestions.filledReminder" name="questionsReminder">
            </div>
        </div>
        <!-- חתם על הסכם finder-->
        <label>
            <input type="checkbox" [(ngModel)]="project.signedFinder.filled" name="finderFilled" >
                חתם על הסכם Finder
        </label>
        <div class="form-group ">
            <div class="input-group">
            <input *ngIf="project.signedFinder.filled" type="file" (change)="finderFileChange($event)" name="finderfile" placeholder="Upload file"
                accept=".pdf,.doc,.docx">
            <input *ngIf="!project.signedFinder.filled" type="date" [(ngModel)]="project.signedFinder.filledReminder" name="finderReminder">
            </div>
        </div>
        <!--התוכנית המוצעת ליזם-->
        <program-multi-select [(selected)]="project.programSuggested"></program-multi-select>
        <!--אם היזם בוחר באינקובציה-->
        <template [ngIf]="isProjectProgramContains('אינקובציה')">
            אינקובציה
        </template>
        <!--אם היזם בוחר בפיתוח עיסקי-->
        <template [ngIf]="isProjectProgramContains('פיתוח עסקי')">
            פיתוח עסקי
        </template>
        <!--אם היזם בוחר בהפנייה לארועים-->
        <div [class.hidden]="!isProjectProgramContains('הפנייה לארועים')">
            הפנייה לארועים
            <events-reference [(events)]="eventReferences" ></events-reference>
        </div>
        <!--אם היזם בוחר בסיוע לגיוס משקיעים-->
        <template [ngIf]="isProjectProgramContains('סיוע בגיוס השקעות')">
            סיוע בגיוס השקעות
        </template>
        <!--TEST-->
              {{errors}}
    </div>
    <crew [(members)]="project.crew"></crew>
    <div class="form-actions">
    <button [disabled]="f.invalid" type="submit" class="btn btn-primary  btn-lg slk center-block ">הוסף מיזם</button>
    </div>
</form>